@media screen and (min-width: 1200px) {
    /* --- HEADER --- */
    /* --- LOGO & NAME --- */
    /* --- NAVIGATION --- */
    nav {
        grid-row: 1/2;
        grid-column: 2/3;
        min-width: 850px;
        max-width: 2000px;
    }



    /* --- FOOTER --- */
    #footer-animal {
        left: 15vw;
    }



    /* ------ Page 1 - HOME ------ */
    #hero-container {
        padding: 1rem 10vw;
    }

    #hero-image {
        max-width: 50rem;
        max-height: 50rem;
    }

    #card-grid {
        gap: 6rem;
        margin: 6rem 1rem;
    }

    .slides img {
        max-height: 40vw;
    }
}