@media screen and (min-width: 900px) {
    /* --- HEADER --- */
    /* --- LOGO & NAME --- */
    /* --- NAVIGATION --- */
    nav {
        margin: 0 0 0 auto;
        width: 850px;
    }

    /* --- FOOTER --- */
    


    /* ------ Page 1 - HOME ------ */
    #hero-image {
        max-width: 37.5rem;
        max-height: 37.5rem;
    }
}