@media screen and (min-width: 1200px) {
    /* --- HEADER --- */
    header {
        flex-direction: row;
    }

    /* --- NAVIGATION --- */
    nav {
        align-items: center;
        min-width: 850px;
        max-width: 2000px;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul li {
        text-align: center;
    }

    #active {
        margin: 0;
        border: none;
        border-top: .2rem solid var(--background-orange);
    }

    .navlinks {
        border: none;
        border-top: .2rem solid transparent;
        padding: 0;
    }

    .navlinks:hover {
        margin: 0;
        border: none;
        border-top: .2rem solid var(--background-orange);
        padding: 0;
    }



    /* --- FOOTER --- */



    /* ------ Page 1 - HOME ------ */
    #hero-image {
        object-position: bottom;
        height: 55vh;
    }

    #hero-actioncall p {
        font-size: 6vw;
    }
    
    #hero-actioncall-link {
        border-bottom: .1vw solid transparent;
        font-size: 6vw;
    }

    #hero-container:hover #hero-actioncall-link {
        border-bottom: .5vw solid var(--background-black);
    }
}