@media screen and (min-width: 900px) {
    /* --- HEADER --- */
    /* --- LOGO & NAME --- */
    /* --- NAVIGATION --- */
    nav {
        margin: 0 0 0 auto;
        width: 850px;
    }

    /* --- FOOTER --- */
    


    /* ------ Page 1 - HOME ------ */
    #hero-image {
        max-width: 37.5rem;
        max-height: 37.5rem;
    }

    .slides img {
        max-height: 50vw;
    }

    #card-grid {
        gap: 4rem;
    }    

    #card-fleet-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
    }
}