@media screen and (min-width: 650px) {
    /* --- HEADER --- */
    /* --- LOGO & NAME --- */
    /* --- NAVIGATION --- */
    nav {
        grid-row: 2/3;
        grid-column: 1/2;
        margin: 0;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul li {
        text-align: center;
    }

    .navlinks {
        border: none;
        border-top: .25rem solid transparent;
        padding: 0;
        padding-top: .25rem;
    }

    .navlinks:hover, #active {
        margin: 0;
        border: none;
        border-top: .25rem solid var(--background-yellow);
        padding: 0;
        padding-top: .25rem;
    }



    /* --- FOOTER --- */
    #footer-animal {
        position: absolute;
        bottom: 3rem;
        left: 5vw;
        display: block;
        width: 40vw;
        max-width: 360px;
        height: 40vw;
        max-height: 360px;
    }

    #footer-animal img {
        width: 100%;
        height: auto;
    }



    /* ------ Page 1 - HOME ------ */
    #hero-container {
        padding: 1rem 10vw;
    }

    #hero-image {
        width: 50vw;
        max-width: 28.125rem;
        height: 50vw;
        max-height: 28.125rem;
    }

    #card-grid {
        gap: 4rem 2rem;
        margin: 4rem 1rem;
    }

    #card-contact {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #card-weather {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #card-rentals {
        grid-column: 1/3;
        grid-row: 2/3;
    }
}