@media screen and (min-width: 550px) {
    /* --- HEADER --- */
    /* --- LOGO & NAME --- */
    #header-branding {
        align-items: center;
    }
    
    /* --- NAVIGATION --- */
    #menubutton {
        display: none;
    }

    nav {
        display: block;
        grid-row: 1/2;
        grid-column: 2/3;
        margin-top: .5rem;
    }



    /* --- FOOTER --- */
    /* --- LOGO & NAME --- */
    #footer-contact-container {
        align-items: end;
    }

    #footer-social-media-container {
        display: flex;
        flex-direction: row;
        margin-right: 1rem;
    }

    #footer-site-info {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        min-width: 500px;
        max-width: 700px;
    }



    /* ------ Page 1 - HOME ------ */
    #hero-image {
        max-width: 20.5rem;
        max-height: 20.5rem;
    }



    /* ------ Page 2 - RENTALS ------ */
    #pricing-table {
        width: 90%;
    }

    tbody tr {
        font-size: 1.25rem;
    }

    td {
        padding: 1rem .5rem;
    }
}