@media screen and (min-width: 1600px) {
    /* --- HEADER --- */
    header {
        padding: 1rem 5vw;
    }

    /* --- NAVIGATION --- */
    



    /* --- FOOTER --- */
    


    /* ------ Page 1 - HOME ------ */
    #hero-actioncall span {
        font-size: 8rem;
    }

    #hero-actioncall span:nth-child(1) {
        letter-spacing: 2.5rem;
    }

    #hero-actioncall span:nth-child(2) {
        font-size: 10rem;
        letter-spacing: 2rem;
    }
    
    #hero-actioncall-link {
        font-size: 13rem;
    }

    #card-rentals {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #card-fleet-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #card-contact {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #card-weather {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    #slideshow-container {
        max-width: 2000px;
    }

    .slides img {
        border-radius: var(--radius-corner);
        max-height: 30vw;
        box-shadow: 10px 10px 50px rgba(0,0,0,.75);
    }

    .numbertext {
        border-radius: var(--radius-corner) 0 var(--radius-corner) 0;
    }



    /* ------ Page 4 - CONTACT ------ */
    #card-contact-form {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #card-map {
        grid-column: 3/4;
        grid-row: 1/2;
    }
}