@media screen and (min-width: 1600px) {
    /* --- HEADER --- */
    header {
        padding: 1rem 5vw;
    }

    /* --- NAVIGATION --- */
    



    /* --- FOOTER --- */
    


    /* ------ Page 1 - HOME ------ */
    #hero-actioncall span {
        font-size: 8rem;
    }

    #hero-actioncall span:nth-child(1) {
        letter-spacing: 2.5rem;
    }

    #hero-actioncall span:nth-child(2) {
        font-size: 10rem;
        letter-spacing: 2rem;
    }
    
    #hero-actioncall-link {
        font-size: 13rem;
    }
}