@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap');

body {
    display: block;
    margin: 0 auto;
    padding: 1em 0;
    max-width: 500px;
    min-width: 350px;
    background-color: #101618;
}

#content {
    margin: 0 auto;
    background-color: #F4F6F3;
}

header {
    margin: 0 auto;
    background-color: #2F3E46;
}

#top-header {
    display: flex;
    padding: 1em;
    justify-content: center;
}

#picture-me {
    margin: 0 1em 0 0;
    height: 100px;
    width: auto;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

#top-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: Century Gothic, sans-serif;
}

#navbar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
    justify-content: center;
    background-color: #354F52;
}

#menubutton {
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
	border: none;
	background-color: transparent;
	color: #CAD2C5;
}

#menubutton:hover {
    color: #FFFFFF;
}

#menubutton::before {
	content: "☰";
}

nav {
    display: none;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
#menubutton.openbutton::before {
	content: "\1F781";
    /* alternative: ✕ */
}

.opennav {
    display: flex;
    flex-direction: column;
}
/* ------ */

nav a {
    display: flex;
    margin: 0 auto;
    padding: .5em;
    justify-content: center;
    color: #CAD2C5;
    font-family: Ubuntu, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: .2s;
}

nav a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    transition: .2s;
}

#active {
    text-decoration: underline;
    color: #FFFFFF;
}

main {
    display: grid;
    gap: 1em 0;
    grid-template-columns: 25px 1fr 25px;
    margin: 0 auto;
    padding: 1em 0;
}

main h2 {
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    font-family: Century Gothic, sans-serif;
}

section {
    border: 1px solid #639286;
    border-radius: 15px;
}

.card-header {
    margin: 0 auto;
    padding: .5em 0;
    text-align: center;
    border: none;
    border-radius: 13px;
    background-color: #639286;
    font-family: Century Gothic, sans-serif;
}

.card-activity {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #DFE4DC;
}

.card-activity ul {
    margin: 0 auto;
    padding: 1em 1em 1em 2.5em;
    list-style-type: decimal-leading-zero;
    font-family: Ubuntu, sans-serif;
}

.card-activity ul li {
    padding: .2em 0;
}

.card-activity ul li::marker {
    font-weight: 700;
}

.card-activity ul a {
    color: #2F3E46;
    text-decoration: none;
}

.card-activity ul a:hover {
    text-decoration: underline;
}

.card-info {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #DFE4DC;
}

.card-info p {
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
    font-family: Ubuntu, sans-serif;
}

.card-map {
    grid-column: 2/3;
    grid-row: 4/5;
    height: 20rem;
    background-color: #639286;
}

.map {
    border: none;
    border-radius: 15px;
}

footer {
    margin: 0 auto;
    padding: 1em 0;
    background-color: #2F3E46;
}

footer p {
    margin: 0 auto;
    padding: .2em 0;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    color: #CAD2C5;
}

#lastModified {
    font-size: .8em;
    text-transform: uppercase;
}