@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@700&family=Gabarito&display=swap');

body {
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 500px;
    min-width: 350px;
    background-color: #101618;
}

#content {
    margin: 0 auto;
    background-color: #eaf1f9;
}

header {
    margin: 0 auto;
    background-color: #2F3E46;
}

#top-header {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

#picture-me {
    margin: 0 1rem 0 0;
    height: 100px;
    width: auto;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

#top-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: Century Gothic, sans-serif;
}

#navbar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
    background-color: #354F52;
}

#menubutton {
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
	border: none;
	background-color: transparent;
	color: #CAD2C5;
}

#menubutton:hover {
    color: #FFFFFF;
}

#menubutton::before {
	content: "☰";
}

nav {
    display: none;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
#menubutton.openbutton::before {
	content: "\1F781";
    /* alternative: ✕ */
}

.opennav {
    display: flex;
    flex-direction: column;
}
/* ------ */

nav a {
    display: flex;
    margin: 0 auto;
    padding: .5rem;
    justify-content: center;
    color: #CAD2C5;
    font-family: Ubuntu, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: .2s;
}

nav a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    transition: .2s;
}

#active {
    text-decoration: underline;
    color: #FFFFFF;
}

#active:hover {
    text-decoration: none;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

main {
    display: grid;
    gap: 1rem 0;
    grid-template-columns: 25px 1fr 25px;
    margin: 0 auto;
    padding: 1rem 0;
}

main h2 {
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    font-family: Century Gothic, sans-serif;
}

section {
    /* border: 1px solid #023368; */
    border: none;
    border-radius: 15px;
    background-color: #ffffff;
    filter: drop-shadow(0px 0px 20px #00000055);
}

.card-header {
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
    border: none;
    border-radius: 13px;
    background-color: #023368;
    color: #FFF;
    font-family: 'Changa', sans-serif;
    font-size: 1.5rem;
}

section h4 {
    margin: 0 auto;
    padding: 1.5rem 1.5rem 0 1.5rem;
    text-align: left;
    font-family: 'Changa', sans-serif;
    font-size: 1.2rem;
}

section p {
    margin: 0 auto;
    padding: 1rem 1.5rem;
    line-height: 1.4rem;
    text-align: left;
    font-family: 'Gabarito', cursive;
}

.card-overview {
    grid-column: 2/3;
    grid-row: 2/3;
}

.card-overview ul {
    margin: 0 auto;
    padding: .3rem 1.5rem 1.5rem 2rem;
    font-family: 'Gabarito', cursive;
    font-size: 1rem;
}

.card-overview ul li {
    padding: .7rem 0 .7rem .5rem;
    line-height: 1.4rem;
}

.card-overview ul li::marker {
    content: "-";
    font-weight: 700;
}

.card-styleguide {
    grid-column: 2/3;
    grid-row: 3/4;
}

.card-styleguide .color-palette {
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

.card-styleguide .svg-container {
    display: flex;
    margin: 1rem 1.5rem;
    padding: 0;
    background-color: #023368;
    justify-content: center;
}

.card-styleguide .svg-logo {
    height: 100px;
    padding: 1rem;
}

.card-wireframe {
    grid-column: 2/3;
    grid-row: 4/5;
}

.wireframe-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.placeholder {
    margin: 1rem 1.5rem;
    height: 100px;
    width: 100px;
    background-color: #f6ae2d;
}

footer {
    margin: 0 auto;
    padding: 1em 0;
    background-color: #2F3E46;
}

footer p {
    margin: 0 auto;
    padding: .2em 0;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    color: #CAD2C5;
}

#lastModified {
    font-size: .8em;
    text-transform: uppercase;
}