@media screen and (min-width: 900px) {

    body {
        max-width: 120px;
        min-width: 900px;
    }
    
    main {
        gap: 1em 1em;
        grid-template-columns: 10px 1fr 1fr 1fr 10px;
    }
    
    .card-proximity {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .card-alignment {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    .card-contrast {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    
    section img {
        max-width: 360px;
        width: 90%;
        min-width: 250px;
    }
    
    .card-text-box {
        max-width: 500px;
        width: 90%;
        min-width: 250px;
    }
    
    .card-text-box p {
        padding: .5em;
    }
}