@import url('https://fonts.googleapis.com/css2?family=Changa:wght@700&family=Gabarito&display=swap');

:root {
/* ------ COLORS ------ */
    --page-background: #eaf1f9;
    --main-color-background: #023368;
    --secondary-color-background: #014397;
    --accent-color: #f6ae2d;
    --main-color-text: #023368;
    --secondary-color-text: #014397;
    --text-on-dark: #eaf1f9;
    --text-on-white: #555;
    --ffffff-background: #FFFFFF;
    --ffffff-text: #FFFFFF;

/* ------ FORM COLORS ------ */
    --valid: var(--accent-color);
    --invalid: #C53030;
    --shadow-color: rgba(0, 0, 0, 0.4);

/* ------ FONTS ------ */
    --headings-font: 'Changa', sans-serif;
    --paragraphs-font: 'Gabarito', cursive;

/* ------ BORDER RADIUS ------ */
    --border-radius: .4rem;
    --form-radius: 2rem;

/* ------ IMG FILTERS ------ */
    --logo-brightness: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
    --dm-img-filter: 0;



    --transition-time: .2s;
}



body {
    background-color: var(--page-background);
    transition: all .4s ease;
}

#content {
    display: block;
    margin: 0 auto;
    min-width: 350px;
}

header {
    color: var(--ffffff-text);
    background-color: var(--main-color-background);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: var(--headings-font);
}

p, a {
    margin: 0;
    padding: 0;
    color: var(--text-on-dark);
    font-family: var(--paragraphs-font);
}

footer {
    margin: 2rem 0 0 0;
    padding: 1rem;
    color: var(--text-on-dark);
    background-color: var(--main-color-background);
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    top: 147.39px;
    right: 5px;
    display: inline-block;
    width: 40px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eaf1f9;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-round:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #014397;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider-round {
    background-color: #252525;
}

input:checked + .slider-round::before {
    background-color: #C48208;
}

input:checked + .slider-round:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}



/* ------ HEADER ------ */
#top-header {
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 6.9rem;
    width: 6.9rem;
    filter: var(--logo-brightness);
}

#top-header h1 {
    text-align: center;
}

#navbar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color-background);
}

#menubutton {
    margin: 1rem;
    width: 2rem;
    height: 2rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
	border: none;
	background-color: transparent;
	color: var(--text-on-dark);
    transition: var(--transition-time);
}

#menubutton::before {
	content: "☰";
}

#menubutton:hover {
    color: #FFFFFF;
    cursor: pointer;
}

nav {
    display: none;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
#menubutton.openbutton {
    transform: rotate(270deg);
    transition: var(--transition-time);
}

#menubutton.openbutton::before {
	content: "\276F";
    /* alternative: ✕ */
}

.opennav {
    display: flex;
}
/* ------ */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.navlinks {
    border-bottom: solid 0.2rem transparent;
    color: var(--text-on-dark);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    transition: var(--transition-time);
}

.navlinks:hover {
    border-bottom: solid 0.2rem var(--accent-color);
    color: #FFFFFF;
    font-weight: 800;
    transition: var(--transition-time);
}

#active {
    border-bottom: solid 0.2rem var(--accent-color);
    font-weight: 800;
}



/* ------ FOOTER ------ */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#top-footer {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

#top-footer .logo {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 6.9rem;
    width: 6.9rem;
    filter: var(--logo-brightness);
}

#top-footer h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1.5rem;
    text-align: left;
}

#top-footer p {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
}

.business-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 2rem;
    text-align: center;
}

.business-card p {
    text-align: center;
}

.business-card a {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: var(--transition-time);
}

.business-card a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    transition: var(--transition-time);
}

.social {
    grid-column: 1/3;
    grid-row: 4/5;
    text-align: center;
}

.social a img {
    margin: 0 .4em;
    width: 40px;
    height: 100%;
    padding: .2em;
    border: none;
    border-radius: 50%;
    filter: var(--logo-brightness);
    transition: var(--transition-time);
}

.social a img:hover {
    background-color: #FFFFFF;
    filter: none;
    box-shadow: 0 0 0 .2rem var(--accent-color);
    transition: var(--transition-time);
}

.vertical-line {
    margin: 1.5rem;
    border-top: solid .05rem var(--text-on-white);
    width: 100%;
}

#copyrightYear {
    text-align: center;
}

#lastModified {
    margin: 1rem 0 0 0;
    text-align: center;
    color: var(--text-on-dark);
    font-size: .8rem;
}



/* ------ PAGE 1 ------ */
/* ------ HOME - MAIN ------ */
.home-main {
    display: grid;
    grid-template-columns: .2rem 1fr .2rem;
    gap: 2rem .2rem;
    margin: 0 auto;
    max-width: 500px;
    min-width: 350px;
}

.hero {
    position: relative;
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.hero-background {
    width: 100%;
    max-width: 500px;
    height: 100%;
    filter: grayscale(var(--dm-img-filter));
}

.hero-button-position {
    padding: .1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero-button {
    display: block;
    margin: .1rem;
    padding: 1.5rem 2rem;
    color: var(--ffffff-text);
    min-width: 145px;
    text-align: center;
    font-size: 2rem;
    font-family: var(--headings-font);
    text-decoration: underline;
    text-decoration-thickness: .2rem;
    text-decoration-color: var(--accent-color);
    text-transform: uppercase;
    border: solid .2rem transparent;
    border-radius: 10rem;
    background-color: var(--main-color-background);
    transition: var(--transition-time);
}

.hero-button:hover {
    border: solid .2rem #FFFFFF;
    box-shadow: 0 0 0 .2rem var(--accent-color);
    background-color: var(--secondary-color-background);
    transition: var(--transition-time);
}

section {
    padding: 1.5rem;
    color: var(--ffffff-text);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color-background);
}

.card-header {
    color: var(--ffffff-text);
}

.card-next-event {
    grid-column: 2/3;
    grid-row: 2/3;
}

.event {
    margin: 1rem;
    padding: 1.5rem .5rem;
    border: solid 1px var(--accent-color);
    border-left: none;
    border-right: none;
    transition: var(--transition-time);
}

.event:hover {
    border: solid 1px transparent;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 0 .2rem var(--accent-color);
    transition: var(--transition-time);
}

.event p {
    color: var(--text-on-dark);
}

.event a {
    font-weight: 800;
    text-decoration: underline;
    transition: var(--transition-time);
}

.event a:hover {
    color: var(--accent-color);
    transition: var(--transition-time);
}

.card-weather {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    padding: 0 0 1.5rem 0;
    background-color: var(--ffffff-background);
}

.card-weather h2 {
    border-radius: var(--border-radius);
    padding: 1.5rem;
    background-color: var(--secondary-color-background);
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 3rem 0;
    height: 100%;
    color: var(--main-color-text);
    font-family: var(--paragraphs-font);
    font-weight: bold;
}

#weather-icon {
    -webkit-filter: drop-shadow(1px 1px 0 var(--text-on-white))
                    drop-shadow(-1px 1px 0 var(--text-on-white))
                    drop-shadow(1px -1px 0 var(--text-on-white))
                    drop-shadow(-1px -1px 0 var(--text-on-white));

    filter: drop-shadow(1px 1px 0 var(--text-on-white))
            drop-shadow(-1px 1px 0 var(--text-on-white))
            drop-shadow(1px -1px 0 var(--text-on-white))
            drop-shadow(-1px -1px 0 var(--text-on-white));
}

#current-temp {
    font-family: var(--headings-font);
    font-size: 3rem;
    font-weight: bold;
}

#weather-desc {
    margin-left: .5rem;
    color: var(--text-on-white);
}

.weather-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    background-color: var(--accent-color);
}

.forecast-day {
    padding: 1rem;
    border: 1px solid var(--ffffff-background);
    text-align: center;
    background-color: var(--ffffff-background);
    transition: var(--transition-time);
}

/* .forecast-day:hover {
    transform: scale(98%);
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 5px var(--text-on-white);
} */

.forecast-day p {
    color: var(--text-on-white);
}

.forecast-day p:nth-child(1) {
    font-size: 1.1rem;
    font-weight: bold;
}

.forecast-day img {
    -webkit-filter: drop-shadow(1px 1px 0 var(--text-on-white))
                    drop-shadow(-1px 1px 0 var(--text-on-white))
                    drop-shadow(1px -1px 0 var(--text-on-white))
                    drop-shadow(-1px -1px 0 var(--text-on-white));

    filter: drop-shadow(1px 1px 0 var(--text-on-white))
            drop-shadow(-1px 1px 0 var(--text-on-white))
            drop-shadow(1px -1px 0 var(--text-on-white))
            drop-shadow(-1px -1px 0 var(--text-on-white));
}

.forecast-day p:nth-child(3) {
    font-family: var(--headings-font);
    font-size: 1rem;
    font-weight: bold;
}

.forecast-day p:nth-child(4) {
    font-size: .8rem;
}

.card-spotlights {
    grid-column: 2/3;
    grid-row: 4/5;
}

.spotlight {
    margin: 1rem;
    padding: 1.5rem;
    border: solid .2rem var(--secondary-color-background);
    border-radius: var(--border-radius);
    background-color: var(--ffffff-background);
    transition: var(--transition-time);
}

.spotlight:hover {
    box-shadow: 0 0 0 .2rem var(--accent-color);
    transition: var(--transition-time);
}

.spotlight h3 {
    color: var(--main-color-text);
}

.spotlight .ad-text {
    display: block !important;
    margin: 0 0 1rem 0;
    text-align: right;
    color: var(--secondary-color-text);
}

.spotlight p {
    text-align: center;
    color: var(--text-on-white);
}



/* ------ PAGE 2 ------ */
/* ------ DISCOVER - MAIN ------ */
.discover-main {
    display: grid;
    grid-template-columns: .2rem 1fr .2rem;
    gap: 2rem .2rem;
    margin: 0 auto;
    max-width: 500px;
    min-width: 350px;
}

.sidebar {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem 0;
    width: 100%;
    margin: 0 auto;
}

.card-welcome {
    grid-row: 1/2;
    margin: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color-background);
    border: solid .2rem var(--page-background);
    border-radius: 60% 40% 70% 30% / 60% 40% 60% 40%;
    box-shadow: 0 0 0 .2rem var(--accent-color);
}

.welcome-message {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
}

.card-events {
    grid-row: 2/3;
}

.card-services {
    grid-row: 3/4;
}

.card-services > ul {
    list-style: circle;
}

.card-services > ul > li {
    padding: .5rem;
    color: var(--text-on-dark);
    font-family: var(--paragraphs-font);
}

.card-services > ul > li > a {
    text-decoration: none;
}

.card-services > ul > li > a:hover {
    text-decoration: underline;
}

.card-attractions {
    grid-row: 4/5;
}

.card-attractions > ul {
    list-style: circle;
}

.card-attractions > ul > li {
    padding: .5rem;
    color: var(--text-on-dark);
    font-family: var(--paragraphs-font);
}

.card-attractions > ul > li > a {
    text-decoration: none;
}

.card-attractions > ul > li > a:hover {
    text-decoration: underline;
}

.discover-images {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    max-width: 487.25px;
    height: auto;
}

figure {
    margin: 0 0 1rem 0;
}

.discover-img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    filter: grayscale(var(--dm-img-filter));
}

figcaption {
    padding: 0 0 .5rem 1rem;
    color: var(--text-on-white);
    font-family: var(--paragraphs-font);
    transition: .8s ease;
}



/* ------ PAGE 3 ------ */
/* ------ DIRECTORY - MAIN ------ */
.directory-main {
    display: grid;
    grid-template-columns: .2rem 1fr .2rem;
    gap: 2rem .2rem;
    margin: 0 auto;
    max-width: 500px;
    min-width: 350px;
}

.directory-main h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1rem 0 0 0;
    text-align: center;
    color: var(--main-color-text);
}

.viewmenu {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewmenu button {
    margin: 1rem;
    margin-bottom: -.8rem;
    padding: 7.5px;
    width: 44px;
    height: 44px;
    border: solid .2rem var(--page-background);
    border-radius: var(--border-radius);
    color: var(--text-on-dark);
    background-color: var(--main-color-background);
}

.viewmenu button:hover {
    cursor: pointer;
}

.viewmenu button i {
    margin: 0;
    padding: 0;
}

/* DIRECTORY LIST */
.directory-list {
    grid-column: 2/3;
    grid-row: 4/5;
}

.directory-list .member-card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin: .1rem 0;
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    transition: var(--transition-time);
}

.directory-list .member-card:nth-child(odd) {
    background-color: var(--main-color-background);
}

.directory-list .m-name {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    text-align: left;
    font-size: 1.2rem;
    color: var(--ffffff-text);
    transition: var(--transition-time);
}

.directory-list .m-logo {
    display: none;
    margin: .5rem auto;
    border-radius: var(--border-radius);
    max-height: 120px;
    max-width: 250px;
    transition: var(--transition-time);
}

.directory-list .m-address {
    line-height: 1.5rem;
    text-align: left;
}

.directory-list .m-phone {
    line-height: 1.5rem;
    text-align: left;
    transition: var(--transition-time);
}

.directory-list .m-phone:hover {
    font-weight: bold;
    text-decoration-color: var(--accent-color);
}

.directory-list .m-url {
    line-height: 1.5rem;
    text-align: left;
    transition: var(--transition-time);
}

.directory-list .m-url:hover {
    font-weight: bold;
    text-decoration-color: var(--accent-color);
}

/* DIRECTORY GRID */
.directory-grid {
    grid-column: 2/3;
    grid-row: 4/5;
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color-background);
}

.directory-grid .member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    padding: 1.5rem;
    border: solid .2rem var(--secondary-color-background);
    border-radius: var(--border-radius);
    background-color: var(--ffffff-background);
    transition: var(--transition-time);
}

.directory-grid .m-name {
    display: none;
    margin: 1rem;
    text-align: center;
    color: var(--text-on-white);
    transition: var(--transition-time);
}

.directory-grid .m-logo {
    margin: .5rem auto;
    border-radius: var(--border-radius);
    max-height: 120px;
    max-width: 250px;
    transition: var(--transition-time);
}

.directory-grid .member-card:nth-child(6) .m-logo{
    padding: .2rem 0;
    background-color: #E97601;
}

.directory-grid .m-address {
    margin: 1rem;
    text-align: center;
    color: var(--text-on-white);
    transition: var(--transition-time);
}

.directory-grid .m-phone {
    margin-top: .5rem;
    color: var(--text-on-white);
    transition: var(--transition-time);
}

.directory-grid .m-phone:hover {
    color: var(--secondary-color-text);
    font-weight: bold;
    text-decoration-color: var(--accent-color);
}

.directory-grid .m-url {
    margin-top: .5rem;
    color: var(--text-on-white);
    transition: var(--transition-time);
}

.directory-grid .m-url:hover {
    color: var(--secondary-color-text);
    font-weight: bold;
    text-decoration-color: var(--accent-color);
}



/* ------ PAGE 4 ------ */
/* ------ JOIN - MAIN ------ */
.join-main {
    display: grid;
    grid-template-columns: .2rem 1fr .2rem;
    gap: 2rem .2rem;
    margin: 0 auto;
    max-width: 500px;
    min-width: 350px;
}

form {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form fieldset {
    margin:  0 0 1rem 0;
    border: none;
    border-radius: var(--form-radius);
    padding: .5rem 2rem 2rem 2rem;
    width: 70%;
    max-width: 20rem;
    background-color: var(--main-color-background);
}

form legend {
    box-shadow: 0 0 0 5px var(--accent-color);
    border: solid 5px var(--page-background);
    border-radius: var(--form-radius);
    padding: 1rem 3rem;
    background-color: var(--secondary-color-background);
    color: var(--ffffff-text);
    text-align: left;
    font-family: var(--headings-font);
    font-weight: bold;
    font-size: 1.5rem;
}

div.required {
    color: var(--text-on-dark);
    text-align: right;
    font-family: var(--paragraphs-font);
    font-size: .8rem;
}

div.required::before {
    content: "| ";
    color: var(--accent-color);
    font-weight: bold;
}

form label.top {
    display: block;
    padding: 1.5rem 0 0 0;
    color: var(--ffffff-text);
    font-family: var(--paragraphs-font);
    font-size: 1rem;
}

form label.top input {
    display: block;
    border: none;
    border-radius: var(--form-radius);
    padding: 1rem;
    width: 90%;
    max-width: 20rem;
    color: var(--text-on-white);
    font-size: 1rem;
    background-color: var(--ffffff-background);
}

form label.top .pattern {
    display: block;
    padding: 0 1rem;
    color: var(--text-on-dark);
    text-align: right;
    font-family: var(--paragraphs-font);
    font-size: .8rem;
    background-color: var(--main-color-background);
}

form label.top input:required {
    border-left: solid 6px var(--accent-color);
}

form label.top input:focus {
    box-shadow: inset 0 0 20px var(--shadow-color);
}

form label.top input:focus:valid {
    border-color: var(--valid);
    border-right: solid 6px var(--valid);
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: var(--valid);
}

form label.top input:focus:invalid {
    border-color: var(--invalid);
    border-right: solid 6px var(--invalid);
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: var(--invalid);
}
 form label:nth-child(5) input {
    padding-left: 22px;
 }

form label select {
    display: block;
    border: none;
    border-radius: var(--form-radius);
    padding: 1rem 2rem 1rem 22px;
    width: 100%;
    max-width: 20rem;
    color: var(--text-on-white);
    background-color: var(--ffffff-background);
}

form label select:hover {
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: var(--valid);
}

form label select:focus {
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: var(--valid);
    box-shadow: inset 0 0 20px var(--shadow-color);
}

form label a {
    display: block;
    padding: 0 1rem;
    color: var(--text-on-dark);
    text-align: right;
    font-family: var(--paragraphs-font);
    font-size: 1rem;
    text-decoration: none;
    transition: var(--transition-time);
}

form label a:hover {
    color: var(--accent-color);
}

form label textarea {
    border: none;
    border-radius: var(--form-radius);
    padding: 1rem;
    padding-left: 22px;
    width: 90%;
    max-width: 20rem;
    color: var(--text-on-white);
    background-color: var(--ffffff-background);
}

form label textarea:focus {
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: var(--valid);
    box-shadow: inset 0 0 20px var(--shadow-color);
}

form input.submitButton {
    margin: 0 0 2rem 2%;
    border: none;
    border-radius: var(--form-radius);
    padding: 1rem;
    width: 60%;
    max-width: 20rem;
    min-width: 15rem;
    color: #ffffffe6;
    font-family: var(--paragraphs-font);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #C53030;
    transition: .2s ease-in;
    cursor: pointer;
}

form input.submitButton:hover {
    transform: scale(.99);
    color: #FFFFFF;
}

form input.submitButton:active {
    background-color: #8d2020;
}

#membershipInfo {
    grid-column: 2/3;
    grid-row: 4/5;
    margin-top: 1rem;
}

#membershipInfo h2{
    padding-bottom: 1rem;
}

#membershipInfo section{
    margin: 1rem;
    padding: 1.5rem;
    border: solid .2rem var(--secondary-color-background);
    border-radius: var(--border-radius);
    background-color: var(--ffffff-background);
    transition: var(--transition-time);
}

#membershipInfo section:hover {
    /* cursor: pointer; */
    box-shadow: 0 0 0 .2rem var(--accent-color);
}

#membershipInfo h3{
    color: var(--main-color-text);
    word-spacing: 1rem;
}

#membershipInfo span{
    border: none;
    border-radius: var(--form-radius);
    padding: .25rem 1rem;
    color: var(--accent-color);
    word-spacing: normal;
    background-color: var(--secondary-color-background);
}

#membershipInfo p{
    padding: 1rem 0 0 2rem;
    color: var(--text-on-white);
    line-height: 1.5rem;
}



/* ------ RECORD MESSAGE PAGE ------  */
.record-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 2rem .5rem;
    text-align: center;
}

.main-msg {
    padding: 2rem 0 2rem 0;
    font-family: var(--headings-font);
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--main-color-text);
}

.note-msg {
    padding: .5rem;
    font-family: var(--paragraphs-font);
    font-size: 1rem;
    color: var(--main-color-text);
}

.note-msg a {
    color: var(--main-color-text);
}

.welcome-msg {
    padding: 2rem 0 0 0;
    font-family: var(--headings-font);
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--main-color-text);
}

.hp-return {
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--main-color-text);
}