@media screen and (min-width: 900px) {
    /* ------ HEADER ------ */
    .switch {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #top-header {
        min-width: 20rem;
        justify-content: right;
    }

    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: right;
        background-color: transparent;
    }

    #menubutton {
        display: none;
    }

    nav {
        display: flex;
        justify-content: right;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        padding: .5rem 1rem;
    }

    /* In case viewport width changes while menu button is clicked */
    .opennav {
        display: flex;
        flex-direction: row;
    }
    /* ------ */

    /* ------ MAIN ------ */ 
    main {
        max-width: 1200px;
        min-width: 800px;
    }

    .hero {
        max-width: 1200px;
    }

    .hero-background {
        max-width: 1200px;
    }

    .spotlight-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* ------ FOOTER ------ */
    #top-footer {
        grid-template-columns: auto auto 30vw auto;
        align-items: center;
    }

    .business-card {
        grid-column: 4/5;
        grid-row: 1/3;
    }

    .social {
        grid-column: 3/4;
        grid-row: 1/3;
    }
}