@media screen and (min-width: 600px) {

    /* ------ MAIN ------ */
    .home-main {
        grid-template-columns: 3fr 2fr;
        gap: 1rem 1rem;
        max-width: 800px;
        min-width: 500px;
    }
    
    .hero {
        grid-column: 1/3;
        grid-row: 1/2;
        max-width: 800px;
    }

    .hero-background {
        max-width: 800px;
    }
    
    .card-next-event {
        margin-top: 1rem;
        margin-left: .2rem;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .card-weather {
        margin-top: 1rem;
        margin-right: .2rem;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .card-spotlights {
        margin: 0 .2rem 0 .2rem;
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .spotlight-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



    /* Page 2 DISCOVER */

    .discover-main {
        grid-template-columns: 2fr 3fr;
        gap: 1rem 1rem;
        max-width: 800px;
        min-width: 500px;
    }

    .sidebar {
        grid-column: 1/2;
        grid-row: 2/3;
        gap: 1rem 0;
    }

    .discover-images {
        grid-column: 2/3;
        grid-row: 2/3;
        max-width: 470.41px;
    }

    .discover-img {
        transition: .8s ease;
    }

    figure:hover .discover-img {
        filter: saturate(1.5);
        border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    }

    figure:hover figcaption {
        padding-left: 8rem;
    }



    /* Page 3 Directory */
    .directory-main {
        grid-template-columns: 1fr;
        gap: 1rem 1rem;
        max-width: 800px;
        min-width: 500px;
    }

    .directory-main h1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .viewmenu {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .directory-grid {
        grid-column: 1/2;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .member-card {
        margin: .5rem;
    }

    .member-card:hover {
        box-shadow: 0 0 0 .2rem var(--accent-color);
    }

    .member-card:hover .m-logo{
        transform: scale(1.1) translateY(-10%);
    }

    .member-card:hover .m-address{
        transform: scale(1.1) translateY(-5%);
    }

    .member-card:hover .m-phone{
        transform: scale(1.1) translateY(5%);
    }

    .member-card:hover .m-url{
        transform: scale(1.1) translateY(10%);
    }
}